*{
    margin: 0px;
    padding: 0px;
}
.container1{
    background-color:black; 
    padding: 80px; 
}

.container1 img{
    position: absolute;
    top: 10px;
    right:430px;
    width: 84px;
}

.container1 h1{
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: cursive; 
}



/*CONTAINER 2*/


.container2 img{
    position: absolute;
    right:413px;
    top: 280px;
    width: 13%;
}


.container2 h1{
    text-align: center;
    margin-top:160px;
    margin-left: 50px;
    font-size: 40px;
}
.container2 p{
    text-align: center;
    font-size: 18px;
}


/*CONTAINER 3*/


.container3 img{
    position: absolute;
    top:980px;
    left:30px;
    width: 13%; 
}

.container3 h3{
    margin-left:190px;
    font-size: 20px;
}

.container3 p{
    margin-left:190px;
    line-height:2;
}


.container3 h4{
    margin-left:30px;
    margin-top: 50px;
    font-size: 20px;
    color: #66bfbf; 
}

.container3 .dance{
    margin-left:30px;
    line-height:2;
    color: #40514e;
}

.dancee img{
    position: absolute;
    top: 1712px;
    right: 120px;
    width: 14%; 
}



/*COONTAINER 4*/

.container4 h2{
    text-align: center; 
    padding: 50px;
    margin-top: -10px;
    font-size: 35px;
    font-family: sans-serif; 
    color: #66bfbf;
}

.container4 h3{
    margin-left: 0px;
    text-align: center;
    font-size: 15px;
    color: #66bfbf;
}

.container4 p{
    text-align: center;
    line-height:2;
    color: #40514e;
}

.container4 button{
    margin-top: 20px;
    width: 20%; 
    margin-left:410px;
    height: 50px;
    font-size: 25px;
    }

.container4 button:hover{
    cursor: pointer;
    background: #11999e;
    transition: 0.3s;
}




/*BOTTOM SIDE */
.bottom{
    position: absolute;
    margin-top: 60px;
    height:120px;
    background: #11999e;
    
}

.bottom ul{
    margin-left: 190px;
}

.bottom li{
    cursor: pointer;
    display: block;
    margin-top:20px;
    float: left;
    padding:33px;
    font-size:24px;
    font-family: sans-serif;
}

.bottom a{
    text-decoration: none; 
    color: white;
}

.bottom a:hover{
    color: #66bfbf;
    transition: 0.3s;
}